.loader-screen {
position: fixed;
  inset: 0;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
      margin: 0%;
    width: 100%;
        transition: opacity 0.6s ease;
  overflow: hidden;
  z-index: 9999;
}

.loader-title {
}

.loader-counter {

}




